:root {
  --background: #253241;
  --cards-width: 300px;
  --highlight-color: #4db1bc;
}

body {
  height: auto;
  background-color: var(--background);
  width: 100%;
  touch-action: manipulation;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  display: block;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
  word-wrap: break-word;
  font-size: 70px;
  margin: 5%;
  font-weight: 500;
  animation: glow 2s ease-in-out infinite alternate;
  color: var(--highlight-color);
  margin-top: 100px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #19222c;
  font-size: 50px;
  padding: 20px;
  border-bottom: 2px solid black;
  z-index: 999;
}

#settings {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.weight {
  padding-left: 20px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  padding: auto;
  height: auto;
}

#cardsContainer {
  margin-top: 10%;
  margin-left: calc(100% - var(--cards-width));
  width: 100%;
  height: 100%;
}

button {
  align-items: center;
  padding: 40px;
  margin-top: 1%;
  min-width: 300px;
  min-height: 100px;
  font-size: xx-large;
  border: 3px solid white;
  cursor: pointer;
  color: white;
  background-color: darken(var(--background), 30%);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 900;
  border: 5px solid white;
  padding: .5em 1em;
  border-radius: 3em;
  transition: 200ms ease-in-out;
  margin: 0 auto;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#gamemodeButton:disabled {
  background-color: white;
  color: var(--background);
  transition: 200ms ease-in-out;
}

#gamemode {
  font-size: 70px;
  text-align: center;
  margin: 100px 0px;
}

.card-fan {
  position: absolute;
  width: var(--cards-width);
  transform-origin: bottom;
  transition: all .3s linear;
}

/* Slider */
input[type=range] {
  width: 90%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #ffffff;
  border: 1px solid #010101;
  border-radius: 0.6px;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -1px;
  width: 50px;
  height: 50px;
  background: var(--highlight-color);
  border: 1px solid #000000;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  background: #ffffff;
  border: 1px solid #010101;
  border-radius: 0.6px;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 50px;
  height: 50px;
  background: var(--highlight-color);
  border: 1px solid #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 1px 0;
  color: transparent;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 1px solid #010101;
  border-radius: 1.2px;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 1px solid #010101;
  border-radius: 1.2px;
}
input[type=range]::-ms-thumb {
  width: 50px;
  height: 50px;
  background: var(--highlight-color);
  border: 1px solid #000000;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

